<ion-header>
    <ion-toolbar color="tgreen">
        <ion-buttons left>
            <button ion-button (click)="goback()">
                <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>我发布的</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="showNoData" *ngIf="count == 0">
        您还未发不过二货
    </div>
    <ion-card class="good-item" *ngFor="let item of list">
        <ion-item class="good-info">
            <img item-left src="{{api + (item.good_images ? item.good_images : '/images/web/user/default.png')}}" alt="">
            <h2>{{item.good_name}}</h2>
            <p>￥{{item.good_price}}</p>
            <div>
                <span>喜欢{{item.wants}}</span>
                <span>浏览{{item.views}}</span>
            </div>
        </ion-item>
        <ion-item class="buttons-box">
            <button ion-button outline color="tgreen">编辑</button>
            <button ion-button outline color="tgreen">删除</button>
        </ion-item>
    </ion-card>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)" enabled="{{!dataOver}}">
        <ion-infinite-scroll-content loadingText="拼命加载中..."></ion-infinite-scroll-content>
    </ion-infinite-scroll>
    <div *ngIf="dataOver" class="bottom-line">~ 我是有底线的 ~</div>
</ion-content>