<ion-header>
    <ion-toolbar color="tgreen">
        <ion-buttons left>
            <button ion-button (click)="goback()">
                <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>二货详情</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div *ngIf="detail">
        <ion-item class="detail-header">
            <ion-avatar item-left>
                <img src="{{detail.user.avatar ? api + detail.user.avatar : api + '/images/web/user/default.png'}}">
            </ion-avatar>
            <h2>{{detail.user.nick_name}}</h2>
            <h3 class="goods-title" item-right color="danger">￥{{detail.good_price}}</h3>
        </ion-item>
        <div class="detail-des" padding>
            <p>{{detail.good_description}}</p>
        </div>
        <div class="detail-images" padding>
            <div class="image-item" *ngFor="let item of detail.good_images">
                <img src="{{api + item}}">
            </div>
        </div>
    </div>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <ion-buttons (click)="goback()" left>
            <div>
                <ion-icon name="chatboxes"></ion-icon>
            </div>
            <div>留言</div>
        </ion-buttons>
        <ion-buttons (click)="goback()" left>
            <div>
                <ion-icon name="heart"></ion-icon>
            </div>
            <div>想要</div>
        </ion-buttons>
        <ion-buttons class="buy-btn" (click)="chat()" right>
            <div>买买买</div>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>