<ion-header>
    <ion-toolbar color="tgreen">
        <!-- <ion-buttons left>
            <button ion-button>
                <ion-icon name="pin"></ion-icon>
            </button>
        </ion-buttons> -->
        <ion-title>淘二淘-大学生二手网</ion-title>
        <ion-buttons right>
            <button ion-button (click)="openSearchModal()">
                <ion-icon name="search" class="search-btn"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-slides autoplay="2000" pager="true" loop="true">
        <ion-slide *ngFor="let item of focus">
            <img src="{{'http://127.0.0.1:3000' + item.image}}">
        </ion-slide>
    </ion-slides>
    <div class="category">
        <ion-grid>
            <ion-row>
                <ion-col class="cate-item" width-25 *ngFor="let cate of category.cateLineOne" (click)="pushCateList(cate.cateName)">
                    <ion-icon name="{{cate.icon}}"></ion-icon>
                    <p class="cate-name">{{cate.cateName}}</p>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col class="cate-item" width-25 *ngFor="let cate of category.cateLineTwo" (click)="pushCateList(cate.cateName)">
                    <ion-icon name="{{cate.icon}}"></ion-icon>
                    <p class="cate-name">{{cate.cateName}}</p>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
    <div class="load-by">
        <ion-grid>
            <ion-row>
                <ion-col (click)="loadList(1)" class="list-type {{current == 'new' ? 'current' : ''}}" width-50 [ngStyle]="{'border-right': '#ddd solid 1px'}">最新</ion-col>
                <ion-col (click)="loadList(2)" class="list-type {{current == 'recommend' ? 'current' : ''}}" width-50>推荐</ion-col>
            </ion-row>
        </ion-grid>
    </div>
    <div class="goods-list">
        <ion-card *ngFor="let item of goods" (click)="pushDetail(item.id)">
            <ion-item>
                <ion-avatar item-left><img src="{{item.sellerHeader}}"></ion-avatar>
                <h2>{{item.sellerName}}</h2>
                <ion-note item-right>发布于 16分钟前</ion-note>
            </ion-item>
            <ion-scroll scrollX="true" class="good-images">
                <div class="good-images-scroll" [ngStyle]="{'width': + (item.image.length * 125) + 'px'}">
                    <ion-grid>
                        <ion-row>
                            <ion-col *ngFor="let image of item.image"><img src="{{image}}"></ion-col>
                        </ion-row>
                    </ion-grid>
                </div>
            </ion-scroll>
            <ion-item class="good-info-bar">
                <div class="price" item-left>￥{{item.price}}</div>
                <div class="views" item-right class="good-info">
                    <ion-icon name="eye" item-left></ion-icon>
                    <span>150次浏览</span>
                </div>
                <div class="want" item-right class="good-info">
                    <ion-icon name="heart" item-left></ion-icon>
                    <span>150人想要</span>
                </div>
            </ion-item>
            <ion-card-content>
                <p>{{item.description}}</p>
            </ion-card-content>
        </ion-card>
        <ion-infinite-scroll (ionInfinite)="doInfinite($event)" enabled="{{!dataOver}}">
            <ion-infinite-scroll-content loadingText="拼命加载中..."></ion-infinite-scroll-content>
        </ion-infinite-scroll>
        <div *ngIf="dataOver" class="bottom-line">~ 我是有底线的 ~</div>
    </div>
</ion-content>