<ion-header>
    <ion-navbar color="tgreen">
        <ion-title>
            发布
        </ion-title>
        <ion-buttons end>
            <button ion-button (click)="goback()">
                <ion-icon name="close"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-list class="publish-item">
        <ion-item>
            <ion-label>标题</ion-label>
            <ion-input placeholder="" clearInput></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>描述</ion-label>
            <ion-textarea>
                <textarea class="goods-des"></textarea>
            </ion-textarea>
        </ion-item>
        <ion-item class="add-botton">
            <div class="images-list" *ngFor="let item of imageArray">
                <img src="{{item}}">
            </div>
            <ion-buttons (click)="getImages()" *ngIf="imageArray.length < 5">
                <div>
                    <ion-icon name="add"></ion-icon>
                </div>
                <div><span>添加照片</span></div>
            </ion-buttons>
        </ion-item>
        <ion-grid class="price-grid">
            <ion-row>
                <ion-col width-50>
                    <ion-item>
                        <ion-label>现价</ion-label>
                        <ion-input placeholder="￥0.0" clearInput></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col width-50>
                    <ion-item>
                        <ion-label>原价</ion-label>
                        <ion-input placeholder="￥0.0" clearInput></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-grid>
        <button ion-item class="sell-method" (click)="popSellMethod()">
            <span class="label-name">交易</span>
            <span *ngIf="sellmethod == 1">在线交易</span>
            <span *ngIf="sellmethod == 2">线下交易</span>
            <span *ngIf="!sellmethod">请选择交易方式</span>
        </button>
        <ion-item *ngIf="sellmethod == 1">
            <ion-label>运费</ion-label>
            <ion-input placeholder="￥0.0" clearInput></ion-input>
        </ion-item>
        <ion-item *ngIf="sellmethod == 2">
            <ion-label>地址</ion-label>
            <ion-input placeholder="请输入交易地址" clearInput></ion-input>
        </ion-item>
        <button ion-item (click)="popCategory()">
            <span class="label-name">分类</span>
            <span *ngIf="!category">请选择分类</span>
            <span *ngIf="category">{{cdata.cname}}</span>
        </button>
    </ion-list>
</ion-content>
<ion-footer>
    <button class="publish-btn" ion-button full color="danger">发布</button>
</ion-footer>
