// ion-app.ios [padding], ion-app.ios [padding] .scroll-content{
//  padding: 0;
// }
ion-icon {
    font-size: 2em;
}

.item-md.item-input.input-has-focus .item-inner {
    border: none;
    box-shadow: none;
}

.list-md .item-input.input-has-focus:last-child {
    border: none;
    box-shadow: none;
}

.list-md .item-input:last-child {
    border: none;
}

.login-form {
    border-radius: 5px;
    overflow: hidden;
}

.mytoast {
    text-align: center;
}

.mytoast .toast-wrapper {
    border-radius: 5px;
    width: 60%;
}

.btns {
    padding-left: 0;
    background-color: #eee;
}

.btns.item-block .item-inner {
    padding-right: 0;
}

.forget.item-button {
    margin-right: 0;
}