<ion-header>
    <ion-navbar color="tgreen">
        <ion-title>
            我的
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <div class="user-header">
        <div class="header-image">
            <img src="{{login && login.avatar ? api + login.avatar : api + '/images/web/user/default.png'}}">
        </div>
        <div *ngIf="!login" class="header-btns">
            <button ion-button outline (click)="popLogin()">登录</button>
            <button ion-button outline>注册</button>
        </div>
        <div *ngIf="login" class="header-btns">
            <p>{{login.nick_name}}</p>
        </div>
    </div>
    <div class="user">
        <ion-list>
            <button ion-item (click)="popPage(1)">
                <ion-icon name="filing" item-left></ion-icon>
                <h3>我发布的</h3>
            </button>
            <button ion-item (click)="popPage(2)">
                <ion-icon name="heart" item-left></ion-icon>
                <h3>我想要的</h3>
            </button>
        </ion-list>
        <ion-list>
            <button ion-item (click)="popPage(4)">
                <ion-icon name="chatboxes" item-left></ion-icon>
                <h3>我的留言</h3>
            </button>
            <button ion-item (click)="popPage(3)">
                <ion-icon name="person" item-left></ion-icon>
                <h3>个人资料</h3>
            </button>
        </ion-list>
        <ion-list>
            <button ion-item (click)="popSetting()">
                <ion-icon name="settings" item-left></ion-icon>
				<h3>设置</h3>
			</button>
        </ion-list>
    </div>
</ion-content>