.user-header {
    padding: 50px 0 30px;
    background-color: #11cd6e;
    // border-bottom: #e5e5e5 solid 1px;
}

.content-md .user-header {
    // border-bottom: #e5e5e5 solid 2px;
}

.header-image {
    width: 5em;
    height: 5em;
    border-radius: 2.5em;
    overflow: hidden;
    margin: 0 auto;
}

.header-image img {
    width: 5em;
    height: 5em;
    border: #ccc solid 1px;
    border-radius: 2.5em;
}

.header-btns {
    text-align: center;
    padding-top: 15px;
}

.header-btns button {
    height: 3rem;
    border-color: #fff;
    color: #fff;
}

.header-btns p {
    margin: 0;
    color: #fff;
}

// .label {
//     margin: 0;
// }
// .item-inner {
//     padding: 0;
// }
.user button {
    color: #11cd6e;
    border-bottom: #e5e5e5 solid 1px;
}

.user button h3 {
    color: #666;
    font-weight: bold;
}

.list-ios>.item-block:first-child,
.list-ios>.item-block:last-child,
.list-ios>.item-wrapper:last-child .item-block {
    border-color: #e5e5e5;
}

.user button.item-md .item-inner {
    margin-left: 10px;
}

.user .list {
    margin-bottom: 0;
    margin-top: 10px;
    padding: 10px 15px;
}

.list-ios>.item-block:first-child {
    border-top: none;
}

page-usercenter .content {
    background: #fff;
}

page-usercenter .iconfont {
    font-size: 24px;
}